language: r
sudo: required
dist: trusty
bioc_required: true
services:
  - docker
cache:
  timeout: 2000
  apt: true
  directories:
    - $HOME/.cache/pip
    - $HOME/R/Library
warnings_are_errors: true
addons:
  apt:
    packages:
      - libgsl0-dev                        # dyngen > splatter > zinbwave > copula > gsl
      - libsdl1.2-dev
      - libreadline-dev
      - imagemagick
      - libfftw3-dev
      - libudunits2-dev
      - libblas-dev
      - liblapack-dev
      - libssh-dev                          # PRISM > ssh > libssh-dev
install:
 - if [ `git branch | grep '* master' | wc -l` == 0 ]; then sed -i 's#\(dynverse/[^, ]*\)#\1@devel#' DESCRIPTION; fi
 - sudo ldconfig                                                              # for merlot > rgl
 - R -e 'if ("devtools" %in% rownames(installed.packages())) update.packages(oldPkgs = "devtools", ask = FALSE) else install.packages("devtools")'
 - R -e 'devtools::install_github(c("r-lib/rlang", "tidyverse/ggplot2"))'
 - R -e 'devtools::install_cran("covr")'
 - R -e 'setRepositories(ind = 1:2); devtools::install(dependencies = TRUE, upgrade = TRUE)'
 - R -e 'dynmethods::check_dependencies()'
after_success:
 - R -e 'covr::codecov()'
